html,body{
    margin: 0 auto;
}
.movietable
{
    width: 70%;
    margin-left: 15%;
}
.movietable td{
    width: 1%;
    height: 45px;
}
.na
{
    background-color: grey;
   
}
.inactiveclick
{
    pointer-events: none;
}
.activeclick
{
    pointer-events: visible;
}
.selected
{
    background-color: green;
}
.occupied
{
    background-color: brown;
}
#buyseat
{
    background-color:#ef8200;
    border: 0px solid;
    color: white;
    padding: 15px;
    font-size: 20px;
}
#buyseat:hover
{
    background-color:#005a8c;
    border: 0px solid;
    color: #ef8200;
    padding: 15px;
    font-size: 20px;
}